* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    background-color: #191931;
    color: #e1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: outfit, sans-serif;
    padding-top: 4rem;
    gap: 1rem; /*krn display flex, gap antar text atas bawah*/
}

/* Animasi text HELLO */
.bg-text-animation {
    position: absolute;
    top: 5rem;
    font-size: 12rem;
    text-transform: uppercase;
    font-weight: 900;
    -webkit-text-stroke: 2px #2a2a44;
    /* text menjadi outline */
    -webkit-text-fill-color: transparent;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: -1;
    /*  text ada di paling belakang user */
    user-select: none;
     /*menghilangkan efek seleksi text*/
}

/* foto dibuat lingkaran dan presisi */
.my-photo {
    width: 10rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
}

a {
    text-decoration: none; /** menghilangkan garis bawah pada link **/
    color: inherit; /** agar warna link sama dengan warna teks di dlm body**/
}

.sosmed i {
    font-size: 1.5rem;
    color: #8787a3;
}

.sosmed a:not(:last-child) { /**mengatur jarak antar icon sosmed kecuali icon terakhir**/
    margin-right: 1rem; /*jarak antar icon sosmed*/
}

.sosmed i:hover {
    color: white;
}

ul {
    width: 80%; 
    /**mengatur lebar maksimal link card akan berhenti di 40rem**/
    max-width: 40rem; 
}

ul li {
    list-style: none; /**menghilangkan bullet pada list**/
}

ul.links li:not(:last-child) {
    margin-bottom: 1rem; /**jarak antar link card**/
}

.links {
    margin-top: 1rem;
}

.link-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d56;
    gap: 1rem;
    padding: 1rem;
    border-radius: 20px;
    /**mengatur lebar link card akan selalu 80% walau diperkecil**/
    box-shadow: 8px 10px 0 0 #0f0f25;
    border: 2px solid #2d2d56;
}

.link-card:hover {
    border: 2px solid white;
}

.links .link-icon i {
    color: white;
}

.links .link-text {
    text-align: center;
}

.links .link-icon {
    background-image: linear-gradient(to top, purple, cyan);
    padding: 0.5rem;
    border-radius: 10px;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-action {
    color: #8787a3;
    cursor: pointer;
}

.copyright {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 0.5rem;
    color: #8787a3;
    font-size: 0.75rem;
}

.copyright img{
    width: 2rem;
    border-radius: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
    opacity: 0.4;
}

#toast {
    width: max-content;
    position: fixed;
    top: 0;
}


.toast-container {
   background-color: white;
   color: #0f0f25;
   padding: 0.75rem;
   margin-top: 1rem;
   border-radius: 1rem;
   animation: muncul 300ms ease-in-out;
}

.toast-gone {
    animation: hilang 1s ease-in-out 1s;
}

@keyframes muncul {
    from {
        opacity: 0;
        transform: translateY(-4rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}   

@keyframes hilang {
    from {
        opacity: 1;
        /* transform: translateY(-4rem); */
    }
    to {
        opacity: 0;
        /* transform: translateY(0); */
    }
}   